
.bg-success {
    background-color: #3a5804!important;
}

@media (min-width: 768px) {
    .barra.bg-success {
        background-color: transparent!important;
    }
    .header {
        position: relative;

        .header .barra {
            position: absolute;
            z-index: 100;
            width: 100%;
        }

        .navbar-brand {
            font-size: 2rem;
            font-weight: 300;
        }
        
        .navbar-brand span {
            font-weight: 900;
        }
        
        .navbar-dark .navbar-nav .nav-link{
            text-transform: uppercase;
            color: #f3eaea;
            font-size: .8rem;
        }
    }

   
}


