ul{
    list-style: none;
    padding: 0;
    margin: 60px p;

    li{
        display: inline-block;

        a{
            text:{
                text-decoration: none;
                transform: uppercase;
                align: center;
            }
            font:{
                family: sans-serif;
                size: 23px;
            }
            color: white;
            padding: 20px;
            background-color: darkblue;
        }
    }
}
