@mixin fontStyle ($color, $fontSize){
    font-size: $fontSize;
    color: white;
    background-color: blue;
    text-transform: uppercase;
}
h1{
    font-size: 40px;
    @include fontStyle(red, 40px)
}

p{
    font-size: 20px;
    @include fontStyle(blue, 18px)
}
.container{
    width: 600px;
    margin: 0 auto;
}

section{
    float: left;
    width: 200px / 600px * 100%;
    height: 400px;
    background-color: darkturquoise;
}

aside{
    float: left;
    width: 400px / 600px * 100%;
    height: 400px;
    background-color: darkcyan;
}